<section style="width: 1450px;">
    <form [formGroup]="formComanda" style="display: flex;">
        <div class="form-container mt-1">
            <div class="form-group">
                <label for="number" class="form-label">#</label>
                <p-inputMask 
                    mask="99-999-999999999" 
                    [formControl]="formComanda.controls['number'] | formControl"
                    placeholder="9-999-999999999" />
                </div>
                <p-autoComplete 
                    (onSelect)="selectProduct($event)"
                    [dropdown]="true"
                    formControlName="selectedProduct"
                    [showClear]="true"
                    appendTo="body"
                    optionLabel="name"
                    [suggestions]="filteredProducts"
                    (completeMethod)="search($event)"
                />
                <p-table 
                formArrayName="selectedsProducts"
                [value]="selectedsProducts.controls"
                selectionMode="single" dataKey="id"
                [scrollable]="true" 
                scrollHeight="50vh"
                [rows]="5"
                [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [rowsPerPageOptions]="[5,10, 25]"
                styleClass="p-datatable-striped p-datatable-sm"
                [tableStyle]="{'min-width': '60rem'}">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="text-center">Producto</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Unidades</th>
                        <!-- <th class="text-center">Descuento</th> -->
                        <th class="text-center">IVA</th>
                        <th class="text-center">Total</th>
                        <th class="text-center"></th>
                    </tr>
                </ng-template>
          
              <ng-template pTemplate="body" let-producto let-index="rowIndex">
                <tr [pSelectableRow]="producto" pDraggable  (onDragStart)="dragStart(producto)"  (onDragEnd)="dragEnd(producto.value)">
                  <td class="text-center" >{{ producto.get('name')?.value }}</td>
                  <td class="text-center" >
                    <p-inputNumber class="input-small" [formControl]="producto.get('price')" />
                  </td>
                  <td class="text-center" > 
                    <p-inputNumber
                        class="input-small"
                        [min]="1"
                        buttonLayout="horizontal"
                        [showButtons]="true"
                        decrementButtonClass="p-button-danger button-small"
                        incrementButtonClass="p-button-success button-small"
                        incrementButtonIcon="pi pi-plus" 
                        decrementButtonIcon="pi pi-minus" 
                        inputId="integeronly" 
                        [formControl]="producto.get('quantity')" />
                  </td>
                  <td class="text-center" >{{ tax }}%</td>
                  <td class="text-center" >${{ producto.get('total')?.value |  number : '1.2-2' }}</td>
                  <td class="text-center">          
                    <button pButton type="button" icon="pi pi-times" class="p-button-rounded p-button-danger" (click)="removeItem(index)" ></button>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <tr>
                    <td >No hay productos seleccionados.</td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                    <td ></td>
                </tr>
              </ng-template>
              <ng-template pTemplate="summary">
                <div class="text-right">
                    <div>
                        Subtotal: ${{formComanda.get('subTotal')?.value |  number : '1.2-2'}}
                    </div>
                    <div>
                        Impuesto: ${{formComanda.get('tax')?.value |  number : '1.2-2'}}
                    </div>
                    <div>
                        Total:    ${{formComanda.get('tax')?.value + formComanda.get('subTotal')?.value | number : '1.2-2'}}
                    </div>
                </div>
            </ng-template>  
            </p-table>
        </div>
        <div class="clients-container-comandas">
            <div class="title" >
                <h5 >Clientes </h5>
                <button pButton size="small" type="button" icon="pi pi-plus" class="p-button-rounded  p-button-success " style="margin-left: 1rem;" (click)="addCliente()"  ></button>

            </div>
            <div class="content" >
                <div class="client-item" *ngFor="let cliente of productsCliente;let i = index"  pDroppable (onDrop)="drop(cliente)" >
                    <h4 >Cliente # {{cliente.cliente}}</h4> 
                    <ul>
                        <li *ngFor="let productCliente of cliente.productos">{{productCliente.name}} - ${{productCliente.price}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </form>
</section>